#numb{
    border-radius: 15px;
    padding: 5px;
    }
    .form1{
        display: flex;
        flex-direction: row;
        text-align: left;
    }
    ion-item{
        border-radius: 300px;   
        margin-right: 2px;
        background-color: rgb(48, 159, 122);
        color: aquamarine;
    
    }
    .valid{
        text-align: left;
        margin-right: 2px;
    }
    .enre{
        
        width: 10%;
        border-radius: 15px;
        padding: 5px;
    }
    h1 p{
        color: rgb(45, 140, 45);
    }
    h1{
        color: rgb(45, 140, 45);
    }
    ion-button{
        background-color: forestgreen;
    }
    .m-auto{
        color: black;
    }
    ion-input{
        color: rgb(48, 159, 122);
    }
    ion-checkbox{
        color: rgb(48, 159, 122);
    }
    ion-back-button{
        color: black;
    }
    