<ion-header>
  <ion-toolbar class="bg-content">
    <ion-title color="blanc">Accueil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="blanc"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">
  <p class="text-bold title-welcome">Hello, Bienvenue sur <ion-text color="fermorange" class="mt-10">
      <span>FERMIERA</span></ion-text>
  </p>
  <div>
    <ion-input class="input text-bold" placeholder="Search" clearInput>
      <ion-icon name="search-outline" class="icon"></ion-icon>
    </ion-input>
  </div>
  <div class="section1-fruit">
    <ion-label class="section1-fruit-text">100% Bio, produit par notre terre</ion-label>
    <ion-img src="assets/img/fresh2.png"></ion-img>
  </div>
  <div>
    <p class="text-bold pl-14 mt-47">Liste des <ion-text color="fermorange">categories</ion-text>
    </p>
    <div class="d-flex test">
      <ion-card color="fermgreendark" class="content-cat">
        <ion-img src="assets/img/broccoli@2x.png" class="img-cat"></ion-img>
        <ion-text class="text-center" color="fermwhite">
          <p>Legumes</p>
        </ion-text>
      </ion-card>
      <ion-card color="fermgreendark" class="content-cat">
        <ion-img src="assets/img/broccoli@2x.png" class="img-cat"></ion-img>
        <ion-text class="text-center" color="fermwhite">
          <p>Legumes</p>
        </ion-text>
      </ion-card>
      <ion-card color="fermgreendark" class="content-cat">
        <ion-img src="assets/img/broccoli@2x.png" class="img-cat"></ion-img>
        <ion-text class="text-center" color="fermwhite">
          <p>Legumes</p>
        </ion-text>
      </ion-card>
    </div>
    <div>

    </div>
    <div>

    </div>
  </div>
  <div>
    <p class="text-bold pl-14 mt-47">Nos <ion-text color="fermorange">meilleurs</ion-text> produits
    </p>
    <div class="d-flex container-cat">
      <ion-card class="content-cat">
        <ion-badge class="add-icon" color="fermwhite"><ion-icon name="add-circle-outline"></ion-icon></ion-badge>
        <ion-img src="assets/img/strawberry@2x.png" class="img-cat"></ion-img>
        <ion-text class="text-center" color="fermwhite">
          <p>Legumes</p>
        </ion-text>
      </ion-card>
      <ion-card color="fermgreendark" class="content-cat">
        <ion-img src="assets/img/broccoli@2x.png" class="img-cat"></ion-img>
        <ion-text class="text-center" color="fermwhite">
          <p>Legumes</p>
        </ion-text>
      </ion-card>
      <ion-card color="fermgreendark" class="content-cat">
        <ion-img src="assets/img/broccoli@2x.png" class="img-cat"></ion-img>
        <ion-text class="text-center" color="fermwhite">
          <p>Legumes</p>
        </ion-text>
      </ion-card>
    </div>
    <div>

    </div>
    <div>

    </div>
  </div>
  
</ion-content>