<ion-header class="ion-no-border">
  <ion-toolbar class="">
    
    <div class="d-flex px-18">
      <div>
        <ion-buttons>
          <ion-menu-button color="fermprimary"></ion-menu-button>
        </ion-buttons>
      </div>
      <div class="m-auto">
        <ion-text color="fermdark" class="text-bold">{{'SIDEMENU.accueil'| translate}}</ion-text>
        
      </div>
      <div class="mt-10" (click)="openPopover($event)">
        <ion-text color="fermgreendark" class="initial uppercase">{{initials}}</ion-text>
      </div>
      <ion-popover #popover [isOpen]="isOpen" (didDidmiss)="isOpen = false">
        <ng-template>
          <ion-content class="ion-padding">
            <!-- <h4><ion-icon name="settings-outline" color="fermtertiary" class="icon-md"></ion-icon> <ion-text class="ml-5">Account Settings</ion-text></h4>
             -->
            <div class="d-flex"><div class="m-0"><ion-icon name="log-out-outline" color="fermtertiary" class="icon-md"></ion-icon></div><div (click)="logOut()"><ion-text class="ml-5 fs-21">{{'HOME.logout' | translate}}</ion-text></div></div>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
    <div class="mt-20 px-25">
      <ion-input class="input text-bold" :placeholder="{{'HOME.recherche' | translate}}" color="fermdark" clearInput (ionChange)="handleChange($event)" debounce="1000">
        <ion-icon name="search-outline" class="icon"></ion-icon>
      </ion-input>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-25">
    <!-- <h1 class="text-bold title-welcome">Hello, Bienvenue sur <h1><ion-text color="fermorange" class="mt-10">
        <span>FERMIERA</span></ion-text></h1>
    </h1> -->
    <!-- <div class="mt-25">
      <ion-input class="input text-bold" placeholder="Search" color="dark" clearInput (ionChange)="handleChange($event)" debounce="1000">
        <ion-icon name="search-outline" class="icon"></ion-icon>
      </ion-input>
    </div> -->
    <!-- <ion-list>
      <ion-item *ngFor="let item of lngs">
        {{item.text}}
      </ion-item>
    </ion-list> -->
    <div class="section1-fruit mt-25">
      <ion-label class="section1-fruit-text text-bold" color="fermdark">{{'HOME.text-card' | translate}}</ion-label>
      <ion-img src="assets/img/fresh2.png"></ion-img>
    </div>
    <div>
      <p class="text-bold pl-14 mt-47"><ion-text color="fermdark">{{'HOME.title-cat1' | translate}} <ion-text color="fermorange">{{'HOME.title-cat2' | translate}}</ion-text></ion-text>
      </p>
      <div class="d-flex scroll">
        <ion-card color="fermgreendark" class="content-cat br-25 p-10"  *ngFor="let cat of resultsOfFilter" (click)="toPage(cat)">
          <ion-img src="assets/img/broccoli@2x.png" class="img-cat"></ion-img>
          <ion-text class="text-center" color="fermwhite">
            <p>{{cat.nom}}</p>
          </ion-text>
        </ion-card>
        <!-- <ion-card color="fermgreendark" class="content-cat br-25 p-10">
          <ion-img src="assets/img/broccoli@2x.png" class="img-cat"></ion-img>
          <ion-text class="text-center" color="fermwhite">
            <p>Legumes</p>
          </ion-text>
        </ion-card>
        <ion-card color="fermgreendark" class="content-cat br-25 p-10">
          <ion-img src="assets/img/broccoli@2x.png" class="img-cat"></ion-img>
          <ion-text class="text-center" color="fermwhite">
            <p>Legumes</p>
          </ion-text>
        </ion-card> -->
      </div>
      <div>

      </div>
      <div>

      </div>
    </div>
    <div>
      <ion-card class="bloc-livraison br-25 p-10">
        <div class="d-flex h-full">
          <div class="m-auto">
            <ion-img src="assets/img/livraison-moto.png" class="img-livraison"></ion-img>
          </div>
          <div class="m-auto p-10">
            <span class="livraison-title">
              <ion-text color="light">
                {{'HOME.title-moto' | translate}}
              </ion-text>
            </span>
          </div>
        </div>
      </ion-card>
    </div>
    <!-- <div>
      <p class="text-bold pl-14 mt-47">Nos <ion-text color="fermorange">meilleurs</ion-text> produits
      </p>
      <div class="d-flex container-cat">
        <ion-card class="content-cat">
          <ion-badge class="add-icon" color="fermwhite"><ion-icon name="add-circle-outline"></ion-icon></ion-badge>
          <ion-img src="assets/img/strawberry@2x.png" class="img-cat"></ion-img>
          <ion-text class="text-center" color="fermwhite">
            <p>Legumes</p>
          </ion-text>
        </ion-card>
        <ion-card color="fermgreendark" class="content-cat">
          <ion-img src="assets/img/broccoli@2x.png" class="img-cat"></ion-img>
          <ion-text class="text-center" color="fermwhite">
            <p>Legumes</p>
          </ion-text>
        </ion-card>
        <ion-card color="fermgreendark" class="content-cat">
          <ion-img src="assets/img/broccoli@2x.png" class="img-cat"></ion-img>
          <ion-text class="text-center" color="fermwhite">
            <p>Legumes</p>
          </ion-text>
        </ion-card>
      </div>
      <div>

      </div>
      <div>

      </div>
    </div> -->
  </div>
</ion-content>