<ion-header>

</ion-header>

<ion-content>
  <div class="figure">
    <figure></figure>
  </div>
  <div class="container-logo m-auto">
    <ion-img src="assets/img/logo.svg"></ion-img>
  </div>
  <form class="container-form" [formGroup]="validationFormUser" (ngSubmit)="loginUser(validationFormUser.value)">
    <!-- <div class="container-form"> -->
    <div>
      <ion-input class="input" formControlName="email" placeholder="Email" clearInput color="fermprimary"
        [ngClass]="{ 'error-input': (validationFormUser.get('email').hasError(validationUserMessage.email[0].type) || validationFormUser.get('email').hasError(validationUserMessage.email[1].type)) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)}">
        <ion-icon name="mail-outline" color="fermtertiary" class="icon"></ion-icon>
      </ion-input>
    </div>
    <div class="mt-5">
      <ng-container *ngFor="let validation of validationUserMessage.email">
        <div class="error_message"
          *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">
          {{validation.message}}
        </div>
      </ng-container>
      <div>
        <ion-text color="danger" *ngIf="badEmail && !(validationFormUser.get('email').hasError(validationUserMessage.email[0].type) || validationFormUser.get('email').hasError(validationUserMessage.email[1].type)) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">Email Incorrect</ion-text>
      </div>
    </div>

    <div class="mt-5">
      <ion-input class="input" formControlName="password" placeholder="**************" required clearInput
        color="fermprimary"
        [ngClass]="{ 'error-input': (validationFormUser.get('password').hasError(validationUserMessage.password[0].type) || validationFormUser.get('password').hasError(validationUserMessage.password[1].type)) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)}">
        <!-- [disabled]="!validationFormUser.valid" -->
        <ion-icon name="lock-closed-outline" color="fermtertiary" class="icon"></ion-icon>
      </ion-input>
    </div>

    <div class="mt-5">
      <ng-container *ngFor="let validation of validationUserMessage.password">
        <div class="error_message"
          *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)">
          {{validation.message}}
        </div>
      </ng-container>
      <div>
        <ion-text color="danger" *ngIf="badPassword && !(validationFormUser.get('password').hasError(validationUserMessage.password[0].type) || validationFormUser.get('password').hasError(validationUserMessage.password[1].type)) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)">Mot de passe Incorrect</ion-text>
      </div>
    </div>

    <div>
      <p><ion-text color="fermtertiary underline">Forgot password?</ion-text></p>
    </div>
    <div class="container-submit">
      <button class="submit-button d-block m-auto w-full" type="submit" [disabled]="!validationFormUser.valid"
        [ngClass]="{ 'disabled': !validationFormUser.valid}"><ion-text color="fermwhite"> <ion-icon
            name="arrow-forward-outline"></ion-icon> SIGN IN</ion-text></button>
    </div>
    <div class="container-create">
      <p class="text-center" (click)="goToRegister()"><ion-text color="fermtertiary">Create account</ion-text></p>
    </div>
    <!-- <div> -->
  </form>
</ion-content>