<ion-header class="ion-no-border">
  <ion-toolbar class="px-18">
    <div class="d-flex">
      <div>
        <ion-buttons slot="start">
          <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>
      </div>
      <div class="m-auto">
        <ion-title color="dark" class="text-bold">Legumes</ion-title>
      </div>
      <div>
        <ion-buttons>
          <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="px-25 mb-10">
    <div class="mt-25">
      <ion-input class="input text-bold" placeholder="Search" clearInput color="dark">
        <ion-icon name="search-outline" class="icon"></ion-icon>
      </ion-input>
    </div>
    <div class="mt-25">
      <ion-card class="m-0 br-15">
        <div class="p-20 d-flex">
          <div>
            <ion-img src="assets/img/fraise.png"></ion-img>
          </div>
          <div class="pl-15">
            <h2 class="m-auto"><ion-text color="dark">Fraise</ion-text></h2>
            <h6 class="m-0 mt-5"> <ion-text color="fermsecondary"> 150Fcfa </ion-text></h6>
            <h6 class="m-0 mt-5"><ion-text color="fermorange" class="font-12"> Legume 100% Bio </ion-text></h6>
          </div>
        </div>
      </ion-card>
    </div>
    <div class="mt-25">
      <ion-card class="m-0 br-15">
        <div class="p-20 d-flex">
          <div>
            <ion-img src="assets/img/fraise.png"></ion-img>
          </div>
          <div class="pl-15">
            <h2 class="m-auto"><ion-text color="dark">Fraise</ion-text></h2>
            <h6 class="m-0 mt-5"> <ion-text color="fermsecondary"> 150Fcfa </ion-text></h6>
            <h6 class="m-0 mt-5"><ion-text color="fermorange" class="font-12"> Legume 100% Bio </ion-text></h6>
          </div>
        </div>
      </ion-card>
    </div>
    <div class="mt-25">
      <ion-card class="m-0 br-15">
        <div class="p-20 d-flex">
          <div>
            <ion-img src="assets/img/fraise.png"></ion-img>
          </div>
          <div class="pl-15">
            <h2 class="m-auto"><ion-text color="dark">Fraise</ion-text></h2>
            <h6 class="m-0 mt-5"> <ion-text color="fermsecondary"> 150Fcfa </ion-text></h6>
            <h6 class="m-0 mt-5"><ion-text color="fermorange" class="font-12"> Legume 100% Bio </ion-text></h6>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
