ion-content{
  --background: #fff;
}
.section-title{
  margin: 20px;
  border-radius: 10px;
}
.rounded{
  border-radius: 30px;
}
.content-information{
  margin: 20px;
}
.first-info{
  position: relative;
      &--name{
        height: 0;
      }
}
.u--color{
  //position: absolute;
  margin-top: 8px;
  background-color:#DDEEDE ;
  border-radius: 5px;
  height: 40px;
}
.price{
margin-top: 18px;
}
.info-text--1{
  margin-bottom: 8px;
  font-weight: bold;
}
.info-text--2{
  color:#375F54;
}
.custom{
  background-color:#DDEEDE ;
  width:30px ;
  height: 30px;
}
.image ion-button{
  --background:#DDEEDE ;
}
ion-icon{
  color:#375F54;
}
.second-info{
  margin-bottom: 24px;
  &-categorie{
    margin-top: 24px;
    gap:8px;
  }
  &-name{
    gap:8px;
  }
}
.description{
  margin-bottom: 24px;
}
.description>ion-title{
  margin-bottom: 8px;
}
.image ion-button{
  width: 40px;
  height: 40px;
  --box-shadow:none;
  & ion-icon{
    font-size: 64px;

  }
}
.container-submit {
  & ion-icon{
    font-size: 24px;
    color: white !important;
  }
}
.submit-button{
  width: 312px;
  height: 60px;
  border-radius: 36px;
  background-color: var(--ion-color-fermprimary);

}
