<ion-header>
  <ion-toolbar>
    <ion-title>details-fruits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="section-title justify-between">
      <ion-img class="rounded" src="assets/img/big_fraise.jpg"></ion-img>
    </ion-card>
    <div class="content-information">
        <div class="first-info d-flex ion-justify-content-between">
          <div class="first-info--choise">
            <ion-text>
              Choise
            </ion-text>
            <div class="d-flex ion-align-items-center">
              <div class="u--color d-flex ion-align-items-center">
                <ion-button fill="clear" (click)="add()"><ion-icon name="add-outline"></ion-icon></ion-button>
                <span>{{numberProd}}</span>
                <ion-button fill="clear" (click)="remove()"><ion-icon name="remove-outline"></ion-icon></ion-button>
              </div>
            </div>

          </div>
          <div class="first-info--name">
            <ion-text>
              {{fruit.nom}}
            </ion-text>
            <div class="price">
              {{fruit.prixU}} Fcfa
            </div>
          </div>
        </div>
      <div class="second-info d-flex ion-justify-content-between ion-align-items-baseline">
        <div class="second-info-categorie d-flex ion-align-items-center">
          <div class="image">
            <div class="special-icon"><ion-icon slot="icon-only" name="person-circle-sharp"></ion-icon></div>
          </div>
          <div class="info-text">
            <div class="info-text--1">
                <ion-text>Vendeur:</ion-text>
            </div>
            <div class="info-text--2">
                <ion-text>{{fruit.fermierDto.nom}}</ion-text>
            </div>
          </div>
        </div>
        <div class="second-info-name d-flex ion-align-items-center">
          <div class="image">
            <div class="special-icon"><ion-icon name="nuclear-outline"></ion-icon>
            </div>
          </div>
          <div>
            <ion-text>Aliment</ion-text>
          </div>

        </div>
      </div>
      <div class="description">
          <h3>Description:</h3>
          <ion-text>{{fruit.description}}</ion-text>
      </div>
      <div class="container-submit">
        <button  class="submit-button"><ion-text color="fermwhite">  ADD TO CART</ion-text> </button>
      </div>
    </div>
</ion-content>
