ion-title{
    font-family: rubik ;
    font-size: 16px;
    opacity: 100%;
    padding-left: 65px;
    font-weight: bold;
}

ion-searchbar{
    padding-right: 70px;
    margin-top: 8px;
    --border-radius: 10px;
    --background: var(--ion-color-fermgreenlight-tint);
}

ion-fab-button {
    --background:var(--ion-color-fermiera-dark-green);
    --background-activated: var(--ion-color-fermiera-dark-green);
    --border-radius: 10px;
    --color: white;
  }

.item{
    ion-item{
        --background: var(--ion-color-fermgray); 
    }

    ion-icon{
        margin-left: 15px;
        margin-right: 10px;
    }

    h5{
        font-size: 14px;
        color: var(--ion-color-fermiera-dark-green);
    }
}

  ion-content{
    --background: var(--ion-color-fermgray);
    font-family: rubik;
}

ion-card{
   
    h4{
    }

    ion-label{
        font-family: rubik;
        font-size: 15px;
        font-weight: 550;
        color:var(--ion-color-fermiera-dark-green);
        opacity: 100%;
        transform: translateX(20px) translateY(3px);
    }

}


.search{
    margin-left: 10px;
}

.paid{
    margin-top: 25px;
    font-family: rubik;

    h4{
        font-size: 15px;
    }

    h5{
        font-size: 14px;
        color: var(--ion-color-ferm-greenish);
    }

    ion-icon{
        margin-left: 15px;
        margin-right: 10px;
    }

    b{
        margin-right: 5px;
        color:var(--ion-color-fermiera-dark-green);
    }
}

 ion-label{
        font-family: rubik;
        font-size: 15px;
        font-weight: 550;
        --color:var(--ion-color-fermiera-dark-green);
        opacity: 100%;
        transform: translateX(20px) translateY(3px);
    }


ion-badge{
    --padding-top: 10px;
    --color: var(--ion-color-fermprimary);
    --background: white;
}

h2{
    color: var(--ion-color-fermiera-dark-green);
    font-size: 16px;
    transform: translateX(21px);
}
