<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="home" color="blanc">
      <ion-icon name="home-outline" color="richeprimary"></ion-icon>
      <!-- <ion-label color="richepurple">HOME</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="basket" color="richeprimary">
      <ion-icon name="basket-outline"></ion-icon>
      <!-- <ion-label>FAVORITE</ion-label> -->
      <!-- <ion-badge color="richeprimary">{{size}}</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="setting">
      <ion-icon name="settings-outline"></ion-icon>
      <!-- <ion-label color="richepurple">ABOUT</ion-label> -->
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>