<ion-tabs color="fermprimary" class="ion-no-border">
  <ion-tab-bar color="fermwhite" slot="bottom, top">
    <ion-tab-button tab="home" color="fermwhite">
      <ion-icon name="home-outline"></ion-icon>
      <!-- <ion-label color="richepurple">HOME</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="basket" color="fermwhite">
      <ion-icon name="basket-outline"></ion-icon>
      <!-- <ion-label>FAVORITE</ion-label> -->
      <!-- <ion-badge color="richeprimary">{{size}}</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="setting" color="fermwhite">
      <ion-icon name="settings-outline"></ion-icon>
      <!-- <ion-label color="richepurple">ABOUT</ion-label> -->
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>