<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="fermiera-dark-green"></ion-back-button>
    </ion-buttons>
    <div>
      <!-- <ion-icon name="arrow-back-outline" ></ion-icon> -->
      <ion-title class="text-center">your addresses</ion-title>
    </div>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="fermorange" (click)="openModal()
    ">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div>
   
    
      
      <ion-card *ngFor="let localisation of local">
        <ion-card-header>
          <div class="blocked">
            <ion-avatar>
              <ion-icon name="location-outline"></ion-icon>
          </ion-avatar>
          <ion-card-title>{{localisation.residence}},{{localisation.ville}}</ion-card-title>
        </div>
        </ion-card-header>

        <ion-card-content>
           
            
            <div>
              <h4>{{localisation.region}},{{localisation.pays}}</h4> 
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <h4>Longitude:{{localisation.longitude}}</h4>
                  </ion-col>
                  <ion-col>
                    <h4>Latitude:{{localisation.latitude}}</h4>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div class="bag">
                <ion-icon name="trash-outline"(click)="deletelocalisation(localisation.id)"></ion-icon>
                <!-- <ion-icon name="create-outline"></ion-icon> -->
              </div>
            </div>
            
        </ion-card-content>
        
       
      </ion-card>


      
    
    
    

  </div>

</ion-content>
