@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Regular.ttf');
}
*{
    font-family: Poppins;
}
.m-auto{
    margin: auto;
}
.text-center{
    text-align: center;
}
.text-bold{
    font-weight: bold;
}
.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.p-25{
    padding: 25px;
}
.px-25{
    padding-left: 25px;
    padding-right: 25px;
}
.d-flex{
    display: flex;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.text-white{
    color:var(--ion-color-rmwhite)
}
.bold{
    font-weight: bold;
}
.block{
    display: block;
}
.grid{
    display: grid;
}
.uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}
.text-md{
    font-size: 24px;
}
.p-20{
    padding: 20px;
}
.p-10{
    padding: 10px;
}
.l-30{
    line-height: 30px;
}
.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px!important; 
}

.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.align-center{
    align-items: center;
}
.ion-range-volume{
    padding-top: 0px;
}
.p-5{
    padding: 5px;
}
.mt-25{
    margin-top: 25px;
}
.br-25{
    border-radius: 25px;
}
.scroll{
    overflow: scroll;
}
.pl-14{
    padding-left: 14px;
}
.mt-47{
    margin-top: 47px;
}
.px-18{
    padding-left: 18px;
    padding-right: 18px;
}
ion-toolbar, ion-content{
    --background: var(--ion-color-fermgray);
    // --border-width:0px!important;
}