<ion-header>

</ion-header>

<ion-content>
  <div class="figure">
    <figure></figure>
  </div>
  <div class="container-logo m-auto">
    <ion-img src="assets/img/logo.svg"></ion-img>
  </div>
  <form class="container-form" [formGroup]="validationFormUser" (ngSubmit)="registerUser(validationFormUser.value)">
    <div *ngIf="isFirstStep">
      <div>
        <ion-input class="input" formControlName="nom" placeholder="Full Name" required clearInput color="fermprimary" [ngClass]="{ 'error-input': (validationFormUser.get('nom').hasError(validationUserMessage.nom[0].type)) && (validationFormUser.get('nom').dirty || validationFormUser.get('nom').touched)}" ngModelOptions="{standalone: true}">
          <ion-icon name="people-outline"  color="fermtertiary" class="icon"></ion-icon>
        </ion-input>
      </div>
      <div class="mt-5">
        <ng-container *ngFor="let validation of validationUserMessage.nom">
              <div class="error_message" *ngIf="validationFormUser.get('nom').hasError(validation.type) && (validationFormUser.get('nom').dirty || validationFormUser.get('nom').touched)">
                {{validation.message}}
              </div>
        </ng-container>
      </div>
      <div class="mt-15">
        <ion-input class="input" ngModelOptions="{standalone: true}" formControlName="email" placeholder="Email" required clearInput color="fermprimary" [ngClass]="{ 'error-input': (validationFormUser.get('email').hasError(validationUserMessage.email[0].type) || validationFormUser.get('email').hasError(validationUserMessage.email[1].type)) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)}">
          <ion-icon name="mail-outline" color="fermtertiary" class="icon"></ion-icon>
        </ion-input>
      </div>
      <div class="mt-5">
        <ng-container *ngFor="let validation of validationUserMessage.email">
          <div class="error_message" *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">
            {{validation.message}}
          </div>
        </ng-container>
        <div>
          <ion-text color="danger" *ngIf="badEmail && !(validationFormUser.get('email').hasError(validationUserMessage.email[0].type) || validationFormUser.get('email').hasError(validationUserMessage.email[1].type)) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">This User is Already Save</ion-text>
        </div>
      </div>
      <div class="mt-15">
        <ion-input class="input" ngModelOptions="{standalone: true}" formControlName="motDePasse" placeholder="PassWord" required clearInput color="fermprimary" [ngClass]="{ 'error-input': (validationFormUser.get('motDePasse').hasError(validationUserMessage.motDePasse[0].type) || validationFormUser.get('motDePasse').hasError(validationUserMessage.motDePasse[1].type)) && (validationFormUser.get('motDePasse').dirty || validationFormUser.get('motDePasse').touched)}">
          <ion-icon name="lock-closed-outline" color="fermtertiary" class="icon"></ion-icon>
        </ion-input>
      </div>
      <div class="mt-5">
        <ng-container *ngFor="let validation of validationUserMessage.motDePasse">
          <div class="error_message" *ngIf="validationFormUser.get('motDePasse').hasError(validation.type) && (validationFormUser.get('motDePasse').dirty || validationFormUser.get('motDePasse').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
      <div class="mt-15">
        <ion-input class="input" ngModelOptions="{standalone: true}" formControlName="telephone" placeholder="Telephone number" required clearInput color="fermprimary" type="tel" [ngClass]="{ 'error-input': (validationFormUser.get('telephone').hasError(validationUserMessage.telephone[0].type) || validationFormUser.get('telephone').hasError(validationUserMessage.telephone[1].type)) && (validationFormUser.get('telephone').dirty || validationFormUser.get('telephone').touched)}">
          <ion-icon name="call-outline" color="fermtertiary" class="icon"></ion-icon>
        </ion-input>
      </div>
      <div class="mt-5">
        <ng-container *ngFor="let validation of validationUserMessage.telephone">
          <div class="error_message" *ngIf="validationFormUser.get('telephone').hasError(validation.type) && (validationFormUser.get('telephone').dirty || validationFormUser.get('telephone').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
      <div (click)="goToSecondStep()">
        <p><ion-text color="fermtertiary underline">Next Step <ion-icon name="arrow-forward-outline"></ion-icon></ion-text></p>
      </div>
    </div>
    <div *ngIf="isSecondStep">
      <div>
        <div>
          <ion-input class="input" ngModelOptions="{standalone: true}" formControlName="residence" placeholder="Residence Street" required [(ngModel)]="residence"clearInput color="fermtertiary">
            <ion-icon name="home-outline" color="fermtertiary" class="icon"></ion-icon>
          </ion-input>
        </div>
        <div class="mt-15">
          <ion-input class="input" placeholder="Country" formControlName="country" [(ngModel)]="country"clearInput color="fermtertiary">
            <ion-icon name="earth-outline" color="fermtertiary" class="icon"></ion-icon>
          </ion-input>
        </div>
    
        <div class="mt-15">
          <ion-input class="input" placeholder="City" formControlName="city" [(ngModel)]="city"clearInput color="fermtertiary">
            <ion-icon name="map-outline" color="fermtertiary" class="icon"></ion-icon>
          </ion-input>
        </div>

        <div class="mt-15">
          <ion-input class="input" placeholder="Region" formControlName="region" [(ngModel)]="region" required clearInput color="fermtertiary">
            <ion-icon name="map" color="fermtertiary" class="icon"></ion-icon>
          </ion-input>
        </div>
    
        <div class="mt-15">
          <ion-input class="input" type="number"  placeholder="Longitude" formControlName="longitude" [(ngModel)]="longitude" clearInput color="fermtertiary">
            <ion-icon  name="trail-sign-outline" color="fermtertiary" class="icon"></ion-icon>
          </ion-input>
        </div>

        <div class="mt-15">
          <ion-input class="input" type="number" placeholder="Latitude" formControlName="latitude" [(ngModel)]="latitude"clearInput color="fermtertiary">
            <ion-icon name="trail-sign" color="fermtertiary" class="icon"></ion-icon>
          </ion-input>
        </div>
      </div>
      <div (click)="goToFirstStep()">
        <p><ion-text color="fermtertiary underline"><ion-icon name="arrow-back-outline"></ion-icon> Previous Step</ion-text></p>
      </div>
    </div>
    <div class="container-submit">
      <button  class="submit-button d-block m-auto w-full" type="submit" [disabled]="!validationFormUser.valid"
      [ngClass]="{ 'disabled': !validationFormUser.valid}"><ion-text color="fermwhite"> <ion-icon name="arrow-forward-outline"></ion-icon> CREATE ACCOUNT</ion-text></button>
    </div>
    <div class="container-create">
      <p class="text-center"><ion-text color="fermtertiary" (click)="goToLogin()">Sign In</ion-text></p>
    </div>
  </form>
</ion-content>