<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" menuId="pearl_side">
      <ion-content>
        <ion-menu-toggle autoHide="false">
          <ion-item>Categories</ion-item>
          <ion-item>
            <span class="mr-10"><ion-icon name="restaurant-outline"></ion-icon></span>
            <ion-label></ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
</ion-app>
