<ion-header>
  <ion-toolbar>
    <ion-title>setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">
<div class=container>
  <div class="d-flex ion-justify-content-center ion-margin-top">
    <div class="image-user">
      <ion-img class="rounded" src="assets/img/profile.png"></ion-img>
    </div>
  </div>
  <div class="user-info">
    <p style="text-align: center;font-weight: 700" color="Primary">Please Fill information Fruits</p>
    <form  [formGroup]="Info" (ngSubmit)="save()">
      <ion-item >
        <ion-label  position="stacked">Nom&Prenom</ion-label>
        <ion-input type="text" placeholder=""  [(ngModel)]="nom">{{userbody.nom}}</ion-input>
      </ion-item>
      <ion-item  >
        <ion-label  position="stacked">Email</ion-label>
        <ion-input type="text" placeholder=""  [(ngModel)]="email">{{userbody.email}}</ion-input>
      </ion-item>
      <ion-item lines="Password">
        <ion-label position="stacked" >Password</ion-label>
        <ion-input type="Password" placeholder=""  [(ngModel)]="motDePasse">{{userbody.motDePasse}}</ion-input>
      </ion-item>
      <ion-item detail="true">
        <ion-label>
          <h3>Adresses</h3>
          <p>Detail for adresses</p>
        </ion-label>
      </ion-item>
    </form>
    
  </div>
  <div class="container-submit ion-margin-top d-flex ion-justify-content-center ">
    <button  class="submit-button d-flex ion-align-items-center ion-justify-content-center"><ion-text color="fermwhite">Enregistrer</ion-text></button>
  </div>
</div>

</ion-content>
