
ion-img{
    width: 100%;
    height:100%;
    object-fit:cover;
}
ion-item{
    background-color: none;
}
.bg-content{
    // --background: white;
    --border-width:0px!important;
    // padding: 16px;
  }
  .submit-button{
    // width: 312px;
    height: 60px;
    border-radius: 36px;
    background-color: var(--ion-color-fermprimary);
  }
.container-submit{
    margin-top: 32px;
}
.initiale{
  background-color: var(--ion-color-fermgreenlight);
  width: 50px;
  border-radius: 50%;
  padding: 10px;
}
.image-user{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: var(--ion-color-fermgreenlight);
  text-align: center;
  position: relative;
  & .initial{
    position:absolute;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
  }
 }
