<ion-toolbar color="fermgray">
  <ion-title> {{'ALL.commandes' | translate}}</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button  color="fermiera-dark-green" ></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
    <ion-accordion-group [multiple]="true" [value]="['first', 'third']">
      <ion-accordion *ngFor="let item of historiquecommande" class="card" value="first">
        <ion-item slot="header">
          <ion-label > {{'ALL.text-card' | translate }} {{item.id}}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-item *ngFor="let article of item.articles" (click)="goToPage(item)" lines="none">
            <ion-label>
              {{article.nom}}
            </ion-label>
            <ion-badge slot="end"> {{article.quantite}} Fcfa</ion-badge>
          </ion-item>
          <div class="paid">
            <ion-item lines="none">
              <ion-badge slot="end"> <h4><b>Total</b> {{item.total}} Fcfa</h4></ion-badge>
              <ion-icon color="ferm-greenish" slot="start" name="checkmark-circle"></ion-icon>
              <h5>{{item.statutCommande}}</h5>             
            </ion-item>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
</ion-content>
