<ion-header>
  <ion-toolbar>
    <ion-title>panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">
 <div>
   <ion-card class="content d-flex ion-margin-bottom ">
     <ion-thumbnail class="image">
       <ion-img class="rounded" src="assets/img/big_fraise.jpg"></ion-img>
     </ion-thumbnail>
     <div class="info-content">
       <div class="info-content-titleO d-flex ion-justify-content-between ">
         <ion-title>Orange</ion-title>
         <button class="custom-button "><ion-icon  slot="icon-only"name="trash-outline"></ion-icon></button>
       </div>
       <div class="info-content-tile1 d-flex ion-justify-content-between">
         <div class="name-categorie d-flex ion-align-items-center">
           <ion-icon name="flame-outline"></ion-icon> <ion-text>Baies</ion-text>
         </div>
         <div class="name-seller  d-flex ion-align-items-center">
           <ion-icon name="person-circle"></ion-icon> <ion-text> Franck K</ion-text>
         </div>
       </div>
       <div class="info-conent-title2 d-flex ion-align-items-center  ion-justify-content-between">
         <div class="price">
           <ion-text class="ion-text-lg-start">1500</ion-text>
         </div>
         <div class="u--color d-flex ion-align-items-center">
           <ion-button fill="clear"><ion-icon name="add-outline"></ion-icon></ion-button>
           <span>1</span>
           <ion-button fill="clear"><ion-icon name="remove-outline"></ion-icon></ion-button>
         </div>
       </div>
     </div>
   </ion-card>
   <ion-card class="content d-flex ">
     <ion-thumbnail class="image">
       <ion-img class="rounded" src="assets/img/big_fraise.jpg"></ion-img>
     </ion-thumbnail>
     <div class="info-content">
       <div class="info-content-titleO d-flex ion-justify-content-between ">
         <ion-title>Orange</ion-title>
         <button class="custom-button "><ion-icon  slot="icon-only"name="trash-outline"></ion-icon></button>
       </div>
       <div class="info-content-tile1 d-flex ion-justify-content-between">
         <div class="name-categorie d-flex ion-align-items-center">
           <ion-icon name="flame-outline"></ion-icon> <ion-text>Baies</ion-text>
         </div>
         <div class="name-seller  d-flex ion-align-items-center">
           <ion-icon name="person-circle"></ion-icon> <ion-text> User</ion-text>
         </div>
       </div>
       <div class="info-conent-title2 d-flex ion-align-items-center  ion-justify-content-between">
         <div class="price">
           <ion-text class="ion-text-lg-start">1500</ion-text>
         </div>
         <div class="u--color d-flex ion-align-items-center">
           <ion-button fill="clear"><ion-icon name="add-outline"></ion-icon></ion-button>
           <span>1</span>
           <ion-button fill="clear"><ion-icon name="remove-outline"></ion-icon></ion-button>
         </div>
       </div>
     </div>
   </ion-card>
 </div>
<div class="checkout ion-margin-top">
  <ion-card class="ion-padding">
    <div class="HT d-flex ion-justify-content-around ion-margin-bottom">
      <ion-title>Total HT</ion-title>
      <ion-text>100FCFA</ion-text>
    </div>
    <div class="TVA d-flex ion-justify-content-around ion-margin-bottom ">
      <ion-title>TVA</ion-title>
      <ion-text>0</ion-text>
    </div>
    <div class="Total d-flex ion-justify-content-around ion-margin-bottom">
      <ion-title>Total</ion-title>
      <ion-text>100Fcfa</ion-text>
    </div>
    <div class="container-submit ion-margin-top">
      <button  class="submit-button d-flex ion-align-items-center ion-justify-content-center"><ion-icon name="arrow-forward-outline"></ion-icon><ion-text color="fermwhite">BUY</ion-text></button>
    </div>
  </ion-card>
</div>
</ion-content>
