<ion-header class="ion-no-border">
  <ion-toolbar class="px-18">
    <div class="d-flex">
      <div>
        <ion-buttons slot="start">
          <ion-back-button color="fermdark"></ion-back-button>
        </ion-buttons>
      </div>
      <div class="m-auto">
        <ion-label color="fermdark" class="text-bold">Panier</ion-label>
      </div>
      <div>
        <ion-buttons>
          <ion-menu-button color="fermdark"></ion-menu-button>
        </ion-buttons>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">
 <div *ngIf="loaded">
   <ion-card class="content d-flex ion-margin-bottom " *ngFor="let article of forcer" >
     <ion-thumbnail class="image">
       <ion-img class="rounded" src="assets/img/big_fraise.jpg"></ion-img>
     </ion-thumbnail>
     <div class="info-content">
       <div class="info-content-titleO d-flex ion-justify-content-between ">
         <ion-title style="font-size:14px">{{article.article.nom}}</ion-title>
         <button class="custom-button "><ion-icon  slot="icon-only"name="trash-outline"></ion-icon></button>
       </div>
       <div class="info-content-tile1 d-flex ion-justify-content-between">
         <!-- <div class="name-categorie d-flex ion-align-items-center">
           <ion-icon name="flame-outline"></ion-icon> <ion-text>Baies</ion-text>
         </div> -->
         <div class="name-seller  d-flex ion-align-items-center">
           <ion-icon name="person-circle"></ion-icon>&nbsp; &nbsp;  <ion-text> {{article.article.fermierDto.nom}}</ion-text>
         </div>
       </div>
       <div class="info-conent-title2 d-flex ion-align-items-center  ion-justify-content-between">
         <div class="price">
           <ion-text class="ion-text-lg-start">{{article.article.prixU}} Fcfa</ion-text>
         </div>
         <div class="u--color d-flex ion-align-items-center">
           <ion-button fill="clear" (click)="add(article)"><ion-icon name="add-outline"></ion-icon></ion-button>
           <span>{{article.quantite}}</span>
           <ion-button fill="clear" (click)="remove()"><ion-icon name="remove-outline"></ion-icon></ion-button>
         </div>
       </div>
     </div>  
   </ion-card>
  </div>
  <div *ngIf="!loaded">
   <ion-card class="content d-flex ion-margin-bottom skeleton-card" *ngFor="let article of forcer" >
    <ion-thumbnail class="image">
      <ion-skeleton-text [animated]="true" class="skeletton-img"></ion-skeleton-text>
    </ion-thumbnail>
    <div class="info-content">
      <div class="info-content-titleO d-flex ion-justify-content-between ">
        <ion-skeleton-text [animated]="true" style="width: 80px" class="m-0 mt-5"></ion-skeleton-text>
      </div>
      <div class="info-content-tile1 d-flex ion-justify-content-between">
        <div class="name-seller  d-flex ion-align-items-center">
          <ion-skeleton-text [animated]="true" style="width: 80px" class="m-0 mt-5"></ion-skeleton-text>
        </div>
      </div>
      <div class="info-conent-title2 d-flex ion-align-items-center  ion-justify-content-between">
        <div class="price">
          <ion-skeleton-text [animated]="true" style="width: 80px" class="m-0 mt-5"></ion-skeleton-text>
        </div>
        <div class="u--color d-flex ion-align-items-center">
          <ion-skeleton-text [animated]="true" style="width: 50px" class="m-0 mt-5"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width:50px" class="m-0 mt-5"></ion-skeleton-text>
        </div>
      </div>
    </div>
  </ion-card>
 </div>
<div class="checkout ion-margin-top">
  <ion-card class="ion-padding">
    <div class="HT d-flex ion-justify-content-around ion-margin-bottom">
      <ion-title>Total HT</ion-title>
      <ion-text>100FCFA</ion-text>
    </div>
    <div class="TVA d-flex ion-justify-content-around ion-margin-bottom ">
      <ion-title>TVA</ion-title>
      <ion-text>0</ion-text>
    </div>
    <div class="Total d-flex ion-justify-content-around ion-margin-bottom">
      <ion-title>Total</ion-title>
      <ion-text>100Fcfa</ion-text>
    </div>
    <div class="container-submit ion-margin-top">
      <button  class="submit-button d-flex ion-align-items-center ion-justify-content-center" [routerLink]="['../paiement']"><ion-icon name="arrow-forward-outline"></ion-icon><ion-text color="fermwhite" >BUY</ion-text></button>
    </div>
  </ion-card>
</div>
</ion-content>
